= search_form_for @q do |f|
  %br/
  %br/
  = f.text_field :name_cont, class:'form-control', placeholder: "Search..."
  %br/
  = link_to "Clear", request.path, class: "btn btn-secondary"
  = f.submit class: 'btn btn-primary'
