/
  <haml_silent> if notice
  </haml_silent><haml_block>    <br>
  <div class='alert alert-success'>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
  <haml_loud> notice </haml_loud>
  </div>
  </haml_block>
  <haml_silent> if alert
  </haml_silent><haml_block>    <br>
  <div class='alert alert-danger'>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
  <haml_loud> alert </haml_loud>
  </div>
  </haml_block>
